flows.json
[{"id":"15f042a5.8637ed","type":"ui_text","z":"4f553656.9ed4e8","group":"f3d4aabc.05f148","order":0,"width":0,"height":0,"name":"","label":"Confirmation","format":"{{msg.payload}}","layout":"row-spread","x":729,"y":372,"wires":[]},{"id":"4f82d75.9b6f428","type":"ui_form","z":"4f553656.9ed4e8","name":"","label":"","group":"aed6e8b2.0cda78","order":0,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"pregnancies","type":"number","required":true},{"label":"Glucose","value":"glucose","type":"number","required":true},{"label":"BloodPressure","value":"BP","type":"number","required":true},{"label":"SkinThickness","value":"ST","type":"number","required":true},{"label":"Insulin","value":"insulin","type":"number","required":true},{"label":"BMI","value":"bmi","type":"number","required":true},{"label":"DiabetesPedigreeFunction","value":"DPF","type":"number","required":true},{"label":"Age","value":"age","type":"number","required":true}],"formValue":{"pregnancies":"","glucose":"","BP":"","ST":"","insulin":"","bmi":"","DPF":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":128,"y":158,"wires":[["3abd5023.54bf8"]]},{"id":"3abd5023.54bf8","type":"function","z":"4f553656.9ed4e8","name":"parameters","func":"global.set(\"pregnancies\",msg.payload.pregnancies)\nglobal.set(\"glucose\",msg.payload.glucose)\nglobal.set(\"BP\",msg.payload.BP)\nglobal.set(\"ST\",msg.payload.ST)\nglobal.set(\"insulin\",msg.payload.insulin)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"DPF\",msg.payload.DPF)\nglobal.set(\"age\",msg.payload.age)\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":65,"wires":[["b3215f58.27f0d"]]},{"id":"b3215f58.27f0d","type":"http request","z":"4f553656.9ed4e8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":540,"y":77,"wires":[["e5f87853.e93828","de261e6.dd3b0e"]]},{"id":"e5f87853.e93828","type":"debug","z":"4f553656.9ed4e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":762,"y":71,"wires":[]},{"id":"de261e6.dd3b0e","type":"function","z":"4f553656.9ed4e8","name":"prediction","func":"var token=msg.payload.token\nvar pregnancies=global.get('pregnancies')\nvar glucose=global.get('glucose')\nvar BP=global.get('BP')\nvar ST=global.get('ST')\nvar insulin=global.get('insulin')\nvar bmi=global.get('bmi')\nvar DPF=global.get('DPF')\nvar age=global.get('age')\nmsg.payload={\"fields\":[\"pregnancies\",\"glucose\",\"BP\",\"ST\",\"insulin\",\"bmi\",\"DPF\",\"age\"],values:[[pregnancies,glucose,BP,ST,insulin,bmi,DPF,age]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":154,"y":255,"wires":[["8140fa7.a6fac08"]]},{"id":"8140fa7.a6fac08","type":"http request","z":"4f553656.9ed4e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e5fa478a-5468-497e-af79-062f878f0ceb/deployments/e9304a32-fcd1-4217-bb85-3986bd72ae38/online","tls":"","proxy":"","authType":"basic","x":384,"y":306,"wires":[["dad97269.27a64","72c0667d.ce9bb8"]]},{"id":"dad97269.27a64","type":"debug","z":"4f553656.9ed4e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":621,"y":268,"wires":[]},{"id":"72c0667d.ce9bb8","type":"function","z":"4f553656.9ed4e8","name":"","func":"msg.payload=msg.payload.values[0][0]\nif(msg.payload==1)\n{\n    msg.payload=\"you are having diabetes\"\n    return msg;\n}\nelse\n{\n    msg.payload=\"you are not having diabetes\"\n    return msg;\n}","outputs":1,"noerr":0,"x":539,"y":380,"wires":[["15f042a5.8637ed"]]},{"id":"f3d4aabc.05f148","type":"ui_group","z":"","name":"prediction","tab":"327a86e.b55927a","disp":true,"width":"6","collapse":false},{"id":"aed6e8b2.0cda78","type":"ui_group","z":"","name":"input parameters","tab":"327a86e.b55927a","disp":true,"width":"6","collapse":false},{"id":"327a86e.b55927a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]